/* Bounce In Effect*/
.hvr-bounce-in {
    display: inline-block;
    vertical-align: middle;
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    transition-duration: 0.5s;
  }
  .hvr-bounce-in:hover, .hvr-bounce-in:focus, .hvr-bounce-in:active {
    transform: scale(1.2);
    transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
  }

/* title */
.score__title {
    font-size: 4.5rem;
    margin-top: 3rem;
}

/* score box */
.score__container {
    background: #19231a;
    color: #e5e5e5;
    width: 12rem;
    height: 12rem;
    margin: 4rem auto;
    border-radius: 1.5rem;
    justify-content: center;
    align-items: center;
}

.score__text {
    font-size: 8rem;
    font-weight: 400;
}

/* name input */
input {
    width: 25rem;
    height: 5rem;
    font-size: 3rem;
    border-radius: 1rem;
}

/* option buttons */
button {
    color: #ffffff;
}

button:visited {
    color: #ffffff;
}

.option__btns {
    flex-direction: column;
    margin-top: 2rem;
    justify-content: center;
    align-items: center;
}

.option__btn {
    font-size: 4rem;
    width: 21rem;
    height: 8rem;
    background-color: #19231a;
    border-radius: 1.5rem;
    margin: 1rem auto;
    justify-content: center;
    align-items: center;
    padding: 1rem 2rem;
}

#saveScoreBtn {
    color: #e5e5e5;
    border: none;
    /* cursor: pointer; */
}

.option__btns:nth-child(1) {
    margin-bottom: 3rem;
}

/* media queries */

@media (min-width: 576px) {
    .score__title {
        font-size: 7rem;
    }

    .score__container {
        width: 16rem;
        height: 16rem;
    }

    .score__text {
        font-size: 10rem;
    }

    .option__btn {
        font-size: 4rem;
        width: 25rem;
        height: 9rem;
    }
}

@media (min-width: 768px) {

    .score__title {
        font-size: 10rem;
    }

    .score__container {
        width: 20rem;
        height: 20rem;
    }

    .score__text {
        font-size: 14rem;
    }

    .option__btns {
        flex-direction: row;
    }

    .option__btn {
        font-size: 4rem;
        width: 23rem;
        height: 11rem;
        padding: 2rem 2rem;
        margin: 0 2rem;
    }
}

@media (min-width: 1200px) {
    .option__btn {
        font-size: 5rem;
        width: 35rem;
        height: 19rem;
        padding: 6rem 6rem;
        margin: 2rem 2rem;
    }
}