#gameover {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* title */
.score__title {
    display: flex;
    align-items: flex-start;
}

/* score box */
.score__container {
    background: #19231a;
    color: #e5e5e5;
    width: 23rem;
    height: 23rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2rem;
    margin-top: 2rem;
}

.score__text {
    font-size: 15rem;
    font-weight: 400;
}

/* name input */
input {
    width: 25rem;
    height: 5rem;
    font-size: 3rem;
    margin-top: 5rem;
    border-radius: 1rem;
}

/* option buttons */
.option__btns {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin: 5rem;
}

.option__btn {
    display: flex;
    padding: 2rem 4rem;
    font-size: 4rem;
    width: 26rem;
    height: 16rem;
    background-color: #19231a;
    border-radius: 2rem;
    justify-content: center;
    align-items: center;
}

#saveScoreBtn {
    color: #e5e5e5;
    border: none;
    cursor: pointer;
}