/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

/* Animations*/

  /* Pulse Shrink */
  @-webkit-keyframes hvr-pulse-shrink {
    to {
      -webkit-transform: scale(0.9);
      transform: scale(0.9);
    }
  }
  @keyframes hvr-pulse-shrink {
    to {
      -webkit-transform: scale(0.9);
      transform: scale(0.9);
    }
  }
  .hvr-pulse-shrink {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0);
            box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  }
  .hvr-pulse-shrink:hover, .hvr-pulse-shrink:focus, .hvr-pulse-shrink:active {
    -webkit-animation-name: hvr-pulse-shrink;
    animation-name: hvr-pulse-shrink;
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
  }

/* loader */
.spinner {
    margin: 100px auto;
    width: 40px;
    height: 40px;
    position: relative;
    text-align: center;
    
    -webkit-animation: sk-rotate 2.0s infinite linear;
    animation: sk-rotate 2.0s infinite linear;
  }
  
  .dot1, .dot2 {
    width: 60%;
    height: 60%;
    display: inline-block;
    position: absolute;
    top: 0;
    background-color:  #19231a;
    border-radius: 100%;
    
    -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
    animation: sk-bounce 2.0s infinite ease-in-out;
  }
  
  .dot2 {
    top: auto;
    bottom: 0;
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
  }
  
  @-webkit-keyframes sk-rotate { 100% { -webkit-transform: rotate(360deg) }}
  @keyframes sk-rotate { 100% { transform: rotate(360deg); -webkit-transform: rotate(360deg) }}
  
  @-webkit-keyframes sk-bounce {
    0%, 100% { -webkit-transform: scale(0.0) }
    50% { -webkit-transform: scale(1.0) }
  }
  
  @keyframes sk-bounce {
    0%, 100% { 
      transform: scale(0.0);
      -webkit-transform: scale(0.0);
    } 50% { 
      transform: scale(1.0);
      -webkit-transform: scale(1.0);
    }
  }
  

/* HUD */
.hud__container {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.hud__btn {
    width: 6rem;
    height: 6rem;
    color: #e5e5e5;
    background-color: #19231a;
    border-radius: 1rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 2rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.exit__btn {
    font-size: 4rem;
    font-weight: 300;
}

.timer {
    font-size: 2.6rem;
    margin-bottom: 0;
    height: 34px;
}

.timer__label {
    font-size: 1.2rem;
    margin-bottom: .5rem
}

.scoreboard {
    font-size: 2.6rem;
    margin-bottom: 0;
    height: 34px;
}

.score__label {
    font-size: 1.2rem;
}

/* game question */
.game__question {
    width: 24rem;
    height: 15rem;
    color: #e5e5e5;
    background-color: #19231a;
    padding: 2rem;
    border-radius: 1.5rem;
    font-size: 1.5rem;
    font-weight: 300;
    margin: 6rem auto;
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

/* answer choices */

.answer-choices__container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.choice__container {
    padding: 2rem;
    font-size: 1.5rem;
    width: 24rem;
    height: 10rem;
    background-color: #cc3f0c;
    color: #ffffff;
    border-radius: 1.5rem;
    text-align: center;
    margin: 0 auto 1rem auto;
}

.choice__container:hover {
    cursor: pointer;
}

.choice__container:nth-child(1) {
    background-color: #004b42;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.choice__container:nth-child(1):hover {
    background-color: #003e37;
    -webkit-transition: background-color .3s ease;
    -o-transition: background-color .3s ease;
    transition: background-color .3s ease;
}

.choice__container:nth-child(2) {
    background-color: #320c0f;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.choice__container:nth-child(2):hover {
    background-color: #150507;
    -webkit-transition: background-color .3s ease;
    -o-transition: background-color .3s ease;
    transition: background-color .3s ease;
}

.choice__container:nth-child(3) {
    background-color: #cc3f0c;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.choice__container:nth-child(3):hover {
    background-color: #6c2107;
    -webkit-transition: background-color .3s ease;
    -o-transition: background-color .3s ease;
    transition: background-color .3s ease;
}

.choice__container:nth-child(4) {
    background-color: #541388;
    margin-bottom: 4rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.choice__container:nth-child(4):hover {
    background-color: #290a43;
    -webkit-transition: background-color .3s ease;
    -o-transition: background-color .3s ease;
    transition: background-color .3s ease;
}

.choice__container:nth-child(1).correct,
.choice__container:nth-child(2).correct,
.choice__container:nth-child(3).correct,
.choice__container:nth-child(4).correct {
    background-color: #7cb518;
    -webkit-animation: rotate-scale-up 0.65s linear both;
	        animation: rotate-scale-up 0.65s linear both;
}

/* ----------------------------------------------
 * Generated by Animista on 2020-12-1 16:23:0
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation rotate-scale-up
 * ----------------------------------------
 */
 @-webkit-keyframes rotate-scale-up {
    0% {
      -webkit-transform: scale(1) rotateZ(0);
              transform: scale(1) rotateZ(0);
    }
    50% {
      -webkit-transform: scale(2) rotateZ(180deg);
              transform: scale(2) rotateZ(180deg);
    }
    100% {
      -webkit-transform: scale(1) rotateZ(360deg);
              transform: scale(1) rotateZ(360deg);
    }
  }
  @keyframes rotate-scale-up {
    0% {
      -webkit-transform: scale(1) rotateZ(0);
              transform: scale(1) rotateZ(0);
    }
    50% {
      -webkit-transform: scale(2) rotateZ(180deg);
              transform: scale(2) rotateZ(180deg);
    }
    100% {
      -webkit-transform: scale(1) rotateZ(360deg);
              transform: scale(1) rotateZ(360deg);
    }
  }
  
.choice__container:nth-child(1).incorrect,
.choice__container:nth-child(2).incorrect,
.choice__container:nth-child(3).incorrect,
.choice__container:nth-child(4).incorrect {
    background-color: #ff0000;
    -webkit-animation: scale-down-hor-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	animation: scale-down-hor-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2020-12-1 16:26:5
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation scale-down-hor-center
 * ----------------------------------------
 */
 @-webkit-keyframes scale-down-hor-center {
    0% {
      -webkit-transform: scaleX(1);
              transform: scaleX(1);
    }
    100% {
      -webkit-transform: scaleX(0.3);
              transform: scaleX(0.3);
    }
  }
  @keyframes scale-down-hor-center {
    0% {
      -webkit-transform: scaleX(1);
              transform: scaleX(1);
    }
    100% {
      -webkit-transform: scaleX(0.3);
              transform: scaleX(0.3);
    }
  }

/* media queries */

@media (min-width: 576px) {
    .hud__btn {
        width: 9rem;
        height: 9rem;
    }

    .exit__btn {
        font-size: 6rem;
    }

    .timer {
        font-size: 4rem;
        height: 50px;
    }

    .timer__label {
        font-size: 2rem;
    }

    .scoreboard {
        font-size: 4rem;
        height: 50px;
    }

    .score__label {
        font-size: 2rem;
    }

    .game__question {
        width: 40rem;
        height: 20rem;
        border-radius: 2rem;
        font-size: 2rem;
    }

    .choice__container {
        font-size: 2.4rem;
        width: 36rem;
        height: 10rem;

    }

    
}

@media (min-width: 768px) {
    .container-fluid {
        height: 100%;
    }

    .hud__btn {
        width: 14rem;
        height: 14rem;
    }

    .exit__btn {
        font-size: 10rem;
    }

    .timer {
        font-size: 8rem;
        height: 90px;
    }

    .timer__label {
        font-size: 4rem;
    }

    .scoreboard {
        font-size: 8rem;
        height: 90px;
    }

    .score__label {
        font-size: 4rem;
    }

    .game__question {
        width: 70rem;
        height: 30rem;
        border-radius: 2rem;
        font-size: 3.4rem;
    }

    .choice__container {
        font-size: 3.5rem;
        width: 50rem;
        height: 15rem;
        margin: 0 0 1rem 0;
    }
}

@media (min-width: 1200px) {
    .hud__btn {
        width: 20rem;
        height: 20rem;
        border-radius: 2rem;
        margin-top: 7rem;
    }

    .exit__btn {
        font-size: 15rem;
    }

    .timer {
        font-size: 11rem;
        height: 124px;
    }

    .timer__label {
        font-size: 4rem;
    }

    .scoreboard {
        font-size: 11rem;
        height: 124px;
    }

    .score__label {
        font-size: 4rem;
    }

    .game__question {
        width: 70rem;
        height: 30rem;
        border-radius: 2rem;
        font-size: 3.4rem;
        margin-top: 13rem;
    }

    .answer-choices__container {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        margin: 6rem auto 0 auto;
    }

    .choice__container {
        font-size: 3rem;
        width: 24rem;
        height: 34rem;
        margin: 0 2rem 9rem 2rem;
    }

    .choice__container:nth-child(4) {
        margin-bottom: 9rem;
    }
}

@media (min-width: 1400px) {
    .game__question {
        width: 90rem;
        height: 30rem;
        border-radius: 2rem;
        font-size: 3.4rem;
        margin-top: 9rem;
    }

    .answer-choices__container {
        margin: 0 auto 0 auto;
    }

    .choice__container {
        font-size: 3rem;
        width: 32rem;
        height: 22rem;
        margin: 0 1rem 9rem 1rem;
    }
}