/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

/* ANIMATIONS */
/* Bounce In Effect*/
.hvr-bounce-in {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
}

.hvr-bounce-in:hover,
.hvr-bounce-in:focus,
.hvr-bounce-in:active {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
    -o-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
    transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
}

/* Titles */
.highscores__title {
    font-size: 5rem;
}

.level__title {
    font-size: 4rem;
    text-decoration: underline;
    margin-top: 3rem;
}

/* Containers */
.scoreboards__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.level__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.score-box__container {
    width: 25rem;
    height: 30rem;
    background-color: #19231a;
    border-radius: 2rem;
    color: #ffffff;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 2rem auto;
}

.score-box__container>ul {
    text-align: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 3rem;
    margin: 2rem;
    list-style: none;
}

.go-home-btn__container {
    background-color: #541388;
    width: 20rem;
    height: 5rem;
    border-radius: 1rem;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 2rem auto;
}

.go-home-btn__container>a {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 2rem 4rem;
    font-size: 2.5rem;
}

/* media queries */
@media (min-width: 768px) {
    .highscores__title {
        font-size: 9rem;
    }

    .level__title {
        font-size: 5.5rem;
    }

    .score-box__container {
        width: 35rem;
        height: 40rem;
    }

    .score-box__container>ul {
        font-size: 5rem;
    }

    .go-home-btn__container {
        width: 20rem;
        height: 8rem;
    }

    .go-home-btn__container>a {
        font-size: 3rem;
    }
}

@media (min-width: 992px) {
    .scoreboards__container {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
    }

    .score-box__container {
        width: 30rem;
        height: 45rem;
    }

    .score-box__container>ul {
        font-size: 4rem;
    }
}

@media (min-width: 1200px) {
    .score-box__container {
        width: 35rem;
        height: 45rem;
    }

    .score-box__container>ul {
        font-size: 5rem;
    }
}