/* Bounce In Effect*/
.hvr-bounce-in {
    display: inline-block;
    vertical-align: middle;
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    transition-duration: 0.5s;
  }
  .hvr-bounce-in:hover, .hvr-bounce-in:focus, .hvr-bounce-in:active {
    transform: scale(1.2);
    transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
  }

.highscores__title {
    font-size: 5rem;
}

.level__title {
    font-size: 4rem;
    text-decoration: underline;
    margin-top: 3rem;
}

.scoreboards__container {
    flex-direction: column;
}

.level__container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.score-box__container {
    width: 25rem;
    height: 30rem;
    background-color:  #19231a;
    border-radius: 2rem;
    color: #e5e5e5;
    justify-content: center;
    align-items: center;
    margin: 2rem auto;
}

.score-box__container > ul {
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    margin: 2rem;
    list-style: none;
}

.go-home-btn__container {
    background-color: #541388;
    width: 20rem;
    height: 5rem;
    border-radius: 1rem;
    justify-content: center;
    align-items: center;
    margin: 2rem auto;
}

.go-home-btn__container > a {
    justify-content: center;
    align-items: center;
    padding: 2rem 4rem;
    font-size: 2.5rem;
}

/* media queries */
@media (min-width: 768px) {
    .highscores__title {
        font-size: 9rem;
    }

    .level__title {
        font-size: 5.5rem;
    }

    .score-box__container {
        width: 35rem;
        height: 40rem;
    }

    .score-box__container > ul {
        font-size: 5rem;
    }

    .go-home-btn__container {
        width: 20rem;
        height: 8rem;
    }

    .go-home-btn__container > a {
        font-size: 3rem;
    }
}

@media (min-width: 992px) {
    .scoreboards__container {
        flex-direction: row;
    }

    .score-box__container {
        width: 30rem;
        height: 45rem;
    }

    .score-box__container > ul {
        font-size: 4rem;
    }
}

@media (min-width: 1200px) {
    .score-box__container {
        width: 35rem;
        height: 45rem;
    }

    .score-box__container > ul {
        font-size: 5rem;
    }
}